.skeleton-text {
  display: block;
  color: var(--skeleton-color);
  width: 100%;
}

.skeleton-text.skeleton-accent {
  color: var(--constant-accent);
}

.skeleton-text__row {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1em;
  background-color: currentColor;
}

.skeleton-text__row:last-child:not(:first-child) {
  width: 80%;
}
